/* index.css */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e2c6b;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #1fd7dd;
  background-color: #f8f8f8;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

header h3, header h1{
  margin: 0;
}
header a{
  text-decoration: none;
  border: none;
  margin-top: 0px;
  background: transparent;
  color: #1fd7dd;
  font-size: 1rem;
}

.addSection {
  padding: 20px;
}

.form-container {
  color: #1fd7dd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 150vh;
  margin: 0 auto;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.category, .amount, .description {
  padding: 8px;
  font-size: 1rem;
}

.add-button {
  align-items: center;
  width: 100px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 3.5vh;
}

.money-manage {
  padding: 20px;
}
.money-manage h2{
  text-align: center;
  color: #1fd7dd;
}

.manageTable {
  width: 100%;
  max-width: 1200px;
  min-width: 400px;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
  background: linear-gradient(to right, #f0f0f0, #fafafa);
}

.manageTable th, .manageTable td {
  color: #1e2c6b;
  padding: 12px;
  border: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.manageTable th {
  background-color: #f8f8f8;
}

.manageTable button{
  margin-left: 30%;
  color: #ddd;
  background-color: #1e2c6b;
  font-size: 1rem;
  border: none;
  padding: 5px;
  border-radius: 5px;

}


.expanded td {
  white-space: normal; /* Allow text to wrap */
  overflow: visible;   /* Allow overflow */
}


.manageTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.total-row {

  font-weight: bold;
  background-color: #f1f1f1;
}

/* Media Queries for responsiveness */
@media (max-width: 599px) {
  header {
      flex-direction: column;
      align-items: flex-start;
  }

  header h3, header h1, header p {
      margin: 5px 0;
  }

  .form-container {
      flex-direction: column;
      max-width: 100%;
  }

  .form-group {
      width: 100%;
  }

  .manageTable th, .manageTable td {
      padding: 8px;
  }
}
